{% extends 'home/base.html' %}

{% load staticfiles %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='About Us' %}
{% endblock %}



{% block content%}

<div class="container">
    <div class="row">
        <div class="m-y-2 col-xs-12 text-xs-center">
            <h1>Kapandesal Multipurpose Cooperative</h1>
        </div>

        <div class="row">
                <div class="col-xs-12">
                    <img class="img-fluid" src="{% static 'img/dafeil.jpg' %}" alt="Kapandesal Poster">
                </div>
            </div>
        <div class="col-xs-12 col-md-4">
                <img class="center-block img-fluid" src="{% static 'img/qnf-logo.png' %}"
                     alt="Kapandesal Logo">

                <p class="text-xs-center">
                    C7 The Grand Towers, 790 P. Ocampo Sr. St. <br>
                    Brgy. 719 Malate, Manila, Philippines <br> <br>
                    Mobile: 0915-9409742 | 0939-29432718 <br>
                    Tel. / Fax: +632.230.4410
                    <br>
                    <strong><br> CDA Registration No. 9520-1016000000025553-1
                    <br> TIN No: 461-731-986-000</strong>
                </p>


            </div>
            <div class="col-xs-12 col-md-7 m-y-3">
                <img class="p-b-2 img-fluid" src="{% static 'img/helping-people.png' %}"
                     alt="Helping People Help Themselves">
                <!--<h2>Helping People Help Themselves</h2>-->
                <p>Committed and Passionate for your Life and your Family's Lives.</p>
                <p>We commit to bring Quick and Fast delivery of financial products and services, to promote
                    C.H.R.I.S.T. values in way of Life, Lifestyle, and Livelihood, and to ensure maximum benefits to
                    every member.</p>
                <p>Over 1000 members and growing!</p>
                <a class="btn btn-primary" target="_blank" href="http://www.kapandesalcoop.org/"><strong
                        class="text-uppercase">Visit Kapandesal Cooperative Site</strong></a>
            </div>

        <div class="m-y-2 col-xs-12 col-md-6 col-lg-6 text-xs-center">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="img-fluid img-rounded" src="{% static 'img/team/kapandesal-carmela-tadeo.jpg' %}" alt="Kapandesal Member 1">
                </div>
            </div>

            <br>
            Carmela "Mel" P. Tadeo
            <br>
            Founder | Board of Director | Chairperson
            <br> Founder of Carmela Tadeo Foundation Inc.
            <br> <a class="btn btn-primary" href="http://www.kapandesalcoop.org/qnf---carmela-p.-tadeo.html">Profile</a>
        </div>


        <div class="m-y-2 col-xs-12 col-md-6 col-lg-6 text-xs-center">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="img-fluid img-rounded" src="{% static 'img/team/kapandesal-maryann-gonzales.jpg' %}" alt="Kapandesal Member 2">
                </div>
            </div>

            <br>
            Mary Ann Gonzales
            <br>
            Co-founder | Chief Executive Officer
            <!--<br> Corporate Secretary of CREBA Philippines-->
            <br> <a class="btn btn-primary" href="http://www.kapandesalcoop.org/qnf---mary-ann-gonzales.html">Profile</a>
        </div>

        <!--<div class="m-y-2 col-xs-12 col-md-6 col-lg-4 text-xs-center">-->
            <!--<div class="row">-->
                <!--<div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">-->
                    <!--<img class="img-fluid img-rounded" src="{% static 'img/team/kapandesal-maje-bambo.jpg' %}" alt="Kapandesal Member 3">-->

                <!--</div>-->
            <!--</div>-->
            <!--<br> Atty. Maje Gallevo-Bambo-->
            <!--<br> Lawyer-->
            <!--<br> <a class="btn btn-primary" href="https://www.linkedin.com/in/maje-gallevo-bambo-007b1963">LinkedIn</a>-->
        <!--</div>-->
    </div>

    <div class="row">
        <div class="m-y-2 col-xs-12 text-xs-center">
            <h1>Raise PH Team</h1>
        </div>
        <div class="m-y-2 col-xs-12 col-md-4 col-lg-4 text-xs-center">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="card-img-top" src="{% static 'img/team/matthew_go.jpg' %}" alt="Raise PH Member 1">
                </div>
            </div>
            <br> Matthew Go
            <br> MS in Computer Science De la Salle University
            <br> Business Developer | Software Engineer
            <br> <a class="btn btn-primary" href="https://www.linkedin.com/in/matthewgo1">LinkedIn</a>
        </div>

        <div class="m-y-2 col-xs-12 col-md-4 col-lg-4 text-xs-center">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="card-img-top" src="{% static 'img/team/lordd_lazaro.jpg' %}" alt="Raise PH Member 3">
                </div>
            </div>
            <br> Lordd Lazaro
            <br> BS in Computer Science De la Salle University
            <br> Designer | Software Engineer
            <br> <a class="btn btn-primary" href="https://www.linkedin.com/in/lordd-michael-lazaro-94009156">LinkedIn</a>
        </div>

        <div class="m-y-2 col-xs-12 col-md-4 col-lg-4 text-xs-center">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
                    <img class="card-img-top" src="{% static 'img/team/alron_lam.jpg' %}" alt="Raise PH Member 4">
                </div>
            </div>
            <br> Alron Lam
            <br> MS in Computer Science De la Salle University
            <br> Technical Lead | Software Engineer
            <br> <a class="btn btn-primary" href="https://www.linkedin.com/in/alron-lam-2a9b0a120">LinkedIn</a>
        </div>
    </div>
</div>
{% endblock %}