{% load staticfiles %}

<div class="modal fade" id="account_verify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" id='account_verify_form' method="post" action="{% url 'application_file_upload' %}" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="change_password_label">Verify Account</h2>
          </div>
          <div class="modal-body">
              <h4>Membership Application Form</h4>
              
              
              <div class="p-b-2">
              <p>For existing Kapandesal members, no need to fill up application form. Input membership ID at the bottom of this form.</p>

              <p>Step 1: <strong>Watch</strong> Kapandesal's Online PMES</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/yqDjJj8nYSA" frameborder="0" allowfullscreen></iframe>


              <p>Step 2: <strong>Download</strong> the Kapandesal Cooperative Membership Application Form</p>

              <a class="btn btn-info" href="{% static 'pdfs/application_form.pdf' %}" download="application_form.pdf">Download Application Form</a></div>

              <p class="p-b-2">Step 3: <strong>Print, Fill Up, Sign</strong> and <strong>Scan</strong> the application form
                  <br> <small>As an alternative you may digitally fill up and sign the application form instead</small>
              </p>


              <p>Step 4: <strong>Upload</strong> your application form</p>
              {% csrf_token %}
              {{ membership_application_form.non_field_errors }}
                {% for field in membership_application_form.visible_fields  %}
                    <fieldset class="form-group">
                        {{ field.errors }}
                            {% if field.label != '' %}
                            {{field.label}}: {% endif %}{{ field }}
                        {% if field.help_text %}
                            <div class="pull-xs-right text-info">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
              {% for hidden in membership_application_form.hidden_fields %}
                <div class="hidden-xs-up">
                    {{ hidden }}
                </div>

                {% endfor %}


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class='btn btn-primary' type="submit" value="Submit" />
              <input type="hidden" name="next" value="{{ next }}" />

          </div>
        </form>
    </div>
      {% include 'home/messages_snippet.html' %}
  </div>

</div>
