{% extends "home/base.html" %}

{% block header %}
{% endblock %}


{% block content%}

{% block account%}
{% include 'django_file_form/upload_template.html' %}
<div id="password_change_modal_container">
    {% include 'home/password_change_modal.html' %}
</div>

<div id="account_verify_modal_container">
    {% include 'home/account_verify_modal.html' %}
</div>

<div id="withdrawal_modal_container">
    {% include 'home/withdrawal_modal.html' %}
</div>
<div id="deposit_modal_container">
    {% include 'home/deposit_modal.html' %}
</div>

{% url 'account' as account_url %}
{% url 'account_pledges' as account_pledges_url %}
{% url 'account_deposits' as account_deposits_url %}
{% url 'account_withdrawals' as account_withdrawals_url %}
{% url 'account_investments' as account_investments_url %}
{% load humanize %} 
<header class="cb-page-title p-t-3 ">
    <div class="container  p-t-3 p-b-1">
        <div class="row p-b-2">
            <div class="col-xs-12">
                <h1 class="display-2 center-block">
                    Hello,
                    {% if user.get_full_name %}
                    {{user.get_full_name }}
                    {% else %}
                    {{user}}
                    {% endif %}
                </h1>
            </div>
        </div>
        <ul class="nav nav-pills h4">
            <li class="nav-item">
                <strong><a href="{% url 'account' %}"
                           class="nav-link {% if request.get_full_path == account_url %} active {% else %} text-primary {% endif %}">
                    Overview
                </a></strong>
            </li>
            <!--<li class="nav-item">-->
                <!--<strong><a href="{% url 'account_pledges' %}"-->
                           <!--class="nav-link {% if request.get_full_path == account_pledges_url %} active {% else %} text-primary {% endif %}">-->
                    <!--Pledges <span class="label label-pill label-danger">{{user.userprofile.pledges|length }}</span>-->
                <!--</a></strong>-->
            <!--</li>-->
            <li class="nav-item">
                <strong><a href="{% url 'account_investments' %}"
                           class="nav-link {% if request.get_full_path == account_investments_url%} active {% else %} text-primary {% endif %}">
                    Investments <span
                        class="label label-pill label-danger">{{user.investments.count }}</span>
                </a></strong>
            </li>
            <li class="nav-item">
                <strong><a href="{% url 'account_deposits' %}"
                           class="nav-link  {% if request.get_full_path == account_deposits_url %} active {% else %} text-primary {% endif %}">
                    Deposits <span class="label label-pill label-danger">{{user.deposits.count}}</span>
                </a></strong>
            </li>
            <li class="nav-item">
                <strong><a href="{% url 'account_withdrawals' %}"
                           class="nav-link  {% if request.get_full_path == account_withdrawals %} active {% else %} text-primary {% endif %}">
                    Withdrawals <span class="label label-pill label-danger">{{user.withdrawals.count}}</span>
                </a></strong>
            </li>
            <li class="nav-item">
                <strong><a href="{% url 'account_dividends' %}"
                           class="nav-link  {% if request.get_full_path == account_dividends %} active {% else %} text-primary {% endif %}">
                    Dividends <span class="label label-pill label-danger">{{user.dividends.count}}</span>
                </a></strong>
            </li>

        </ul>
    </div>
</header>
<div class="bg-faded">
<div class="container">
    <div class="row p-y-2">
        <div class="col-xs-12">
            <div class="btn-group" role="group" aria-label="Basic example">


                <button class="btn btn-secondary btn-lg {% if user.userprofile.is_coop_member != 'No' and user.userprofile.is_coop_member != 'Rejected' %} disabled"  {% else %}" data-toggle="modal" data-target="#account_verify_modal"{% endif %}  >Apply As Kapandesal Member</button>
                <button class="btn btn-secondary btn-lg {% if user.userprofile.is_coop_member != 'Yes' and user.userprofile.is_coop_member != 'Waiting for First Deposit' %} \
                disabled" {% else %}" data-toggle="modal" data-target="#deposit_modal" {% endif %}>Add Funds to Your Wallet</button>
                <button class="btn btn-secondary btn-lg {% if user.userprofile.is_coop_member != 'Yes' %} disabled" {% else %}" data-toggle="modal" data-target="#withdrawal_modal" {% endif %}>Withdraw Funds</button>

            </div>
        </div>
    </div>
    {% include 'home/messages_snippet.html' %}
    <div class="row">
        <div class="col-xs-12 m-b-3">
            <div class="card">
                {% block account_content %}
                <div class="card-block">

                    <h2>Wallet Info</h2>

                    <table class="table">
                         <tr>
                            <td><h3>Wallet Total Balance</h3></td>
                            <td><h3 class="font-weight-bold">₱ {{ user.userprofile.wallet_total_balance|floatformat:2|intcomma }}</h3></td>
                        </tr>
                        <tr>
                            <td><h3>Wallet Available Balance</h3></td>
                            <td><h3 class="font-weight-bold">₱ {{ user.userprofile.wallet_available_balance|floatformat:2|intcomma }}</h3></td>
                        </tr>
                    </table>

                    <h2>Basic Info </h2>

                    <table class="table">
                        <tr>
                            <td>First name</td>
                            <td>{{ user.first_name|default:"N/A" }}</td>
                        </tr>
                        <tr>
                            <td>Last name</td>
                            <td>{{ user.last_name|default:"N/A" }}</td>
                        </tr>
                        <!--<tr>
                            <td>Username</td>
                            <td>{{ user }}</td>
                        </tr> -->
                        <tr>
                            <td>Email Address</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <!--<tr>
                            <td>Contact Number</td>
                            <td>{{ user.userprofile.contact_number|default:"N/A" }}</td>
                        </tr> -->
                        <tr>
                            <td>Kapandesal Cooperative Membership Status</td>
                            <td>{{ user.userprofile.get_is_coop_member_display }} {% if user.userprofile.is_coop_member == 'Rejected'%}
                                <br><strong>Reason: {{user.userprofile.form_error_description}} </strong>{% endif %}

                                {% if user.userprofile.is_coop_member == 'Yes'%}
                                <br>( ID: {% if user.userprofile.coop_membership_id %}{{user.userprofile.coop_membership_id}} {% else %} Not assigned yet
                                                    {% endif %}){% endif %}

                            </td>

                        </tr>
                        <tr>
                            <td>Password</td>
                            <td><button class="btn btn-primary" data-toggle="modal" data-target="#change_password_modal" >Change Password</button></td>
                        </tr>
                    </table>

                </div>
                {% endblock %}
            </div>
        </div>
        {% endblock %}
    </div>
</div></div>

{% endblock %}

{% block script %}
{{ block.super }}
{% load staticfiles%}
<script src="{% static 'ajaxuploader/js/fileuploader.js' %}"></script>
<script src="{% static 'file_form/file_form.js' %}"></script>
<link rel="stylesheet" href="{% static 'ajaxuploader/css/fileuploader.css' %}">
<script type="text/javascript">
function setPasswordChangeModal(){
    var frm = $('#password_change_form');
    frm.submit(function () {
        $('.modal-backdrop').remove();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
            if (data==="success") {
                location.href = {% url 'account' %}

            }else{
                $("#password_change_modal_container").html(data);
                $('#change_password_modal').modal();
                $('#change_password_modal').modal('show');
                setPasswordChangeModal();
            }
            },
            error: function(data) {
                $("#password_change_modal_container").html("Something went wrong!");
            }
        });
        return false;
    });
}

function setVerifyModal(){
    initUploadFields($('#account_verify_form'),{
        validation: {
            acceptFiles: 'image/*,.pdf',
            sizeLimit: 5000000
        }
    });
    var frm = $('#account_verify_form');

    frm.submit(function () {
        $('.modal-backdrop').remove();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),

            success: function (data) {
            if (data==="success") {
                location.href = {% url 'account' %}

            }else{
                $("#account_verify_modal_container").html(data);
                $('#account_verify_modal').modal();
                $('#account_verify_modal').modal('show');
                setVerifyModal();
            }
            },
            error: function(xhr) {
                        alert(xhr.statusText);
            },
            data: frm.serialize(),

        });
        return false;
    });

}
function setWithdrawalModal(){
    initUploadFields($('#withdrawal_request_form'),
    {
        validation: {
            acceptFiles: 'image/*',
            sizeLimit: 1000000
        }
    });
    var frm = $('#withdrawal_request_form');

    frm.submit(function () {
        $('.modal-backdrop').remove();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),

            success: function (data) {
                        if (data==="success") {
                location.href = {% url 'account' %}

            }else{
                $("#withdrawal_modal_container").html(data);
                $('#withdrawal_modal').modal();
                $('#withdrawal_modal').modal('show');
                setWithdrawalModal();
            }
            },
            error: function(xhr) {
                        alert(xhr.statusText);
            },
            data: frm.serialize(),

        });
        return false;
    });

}

function setDepositModal(){
    initUploadFields($('#deposit_upload_form'),
    {
        validation: {
            acceptFiles: 'image/*',
            sizeLimit: 5000000
        }
    });
    var frm = $('#deposit_upload_form');

    frm.submit(function () {
        $('.modal-backdrop').remove();
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),

            success: function (data) {
            console.log(data);
            if (data==="success") {
                location.href = {% url 'account' %}

            }else{
                $("#deposit_modal_container").html(data);
                $('#deposit_modal').modal();
                $('#deposit_modal').modal('show');
                setDepositModal();
            }

            },
            error: function(xhr) {
                        alert(xhr.statusText);
            },
            data: frm.serialize(),

        });
        return false;
    });

}
$(function() {
   setPasswordChangeModal();

   setVerifyModal();
   setWithdrawalModal();
   setDepositModal();
});

</script>



{% endblock %}