{% extends 'home/base.html' %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='Announcements' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row m-y-3">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            {% for announcement in object_list reversed %}
            <div class="card">
                <div class="card-block p-b-2">
                    <h1 class="m-y-1 text-xs-center">{{announcement.title}}</h1>
                    <p>{{announcement.content|linebreaksbr}} </p>
                    <p class="small pull-xs-right">{{announcement.date}} </p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}