<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="author" content="">


    <meta property="og:image" content="https://raise.ph{% static 'img/raise-banner-white-square.png' %}"/>

    <title>{% block title %}Raise PH - Uplifting the Filipino people through low-capital investments{% endblock %}</title>

    {% block static %}
    <link rel="icon" type="image/png" href="{% static 'img/raise-logo2.png' %}">

    <!-- Custom Bootstrap Core CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!--<link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">-->
    <script src="https://use.fontawesome.com/b0228e9d45.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
</head>

<body>
{% block nav %}
{% url 'index' as index_url %}
{% url 'project-list' as project_url%}
{% url 'faq_list' as faq_url%}
{% url 'announcement_list' as announcement_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}

<!--TODO: Fix navbar resizing-->
<!--<nav class="navbar  {% if request.get_full_path == index_url %} navbar-dark navbar-float-top bg-transparent{% else %} navbar-dark bg-inverse {% endif %} p-y-2">-->
<!--SHOWS FOR MD LG LG+-->
<nav class="navbar  navbar-dark navbar-float-top bg-transparent p-y-2 hidden-sm-down">
    <!--SHOWS FOR LG LG+-->
    <div class="container hidden-md-down">
        <!--<a class="navbar-brand hidden-sm-up text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
        <a href="{% url 'index' %}"><img style="height:3rem;" class="hidden-sm-up"
                                             src="{% static 'img/raise-logo.png' %}" alt="Raise PH"></a>
        <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar3"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar3">
            <a class="navbar-brand hidden-xs-down" href=" {% url 'index' %}"><img style="height:3rem;"
                                                                                  class="hidden-xs-down"
                                                                                  src="{% static 'img/raise-logo.png' %}"
                                                                                  alt="Raise PH"></a>
            <!--<a class="navbar-brand hidden-xs-down text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
            <div class="nav navbar-nav p-t-1">
                <!--<a class="nav-item nav-link  {% if request.get_full_path == index_url %} active {% endif %}" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link {% if request.get_full_path == index_url %} active {% endif %}"
                   href="{% url 'index'%}">Home</a>
                <a class="nav-item nav-link {% if request.get_full_path == project_url %} active {% endif %}"
                   href="{% url 'project-list'%}">Projects</a>
                <a class="nav-item nav-link {% if request.get_full_path == faq_url %} active {% endif %}"
                   href="{% url 'faq_list' %}">How It Works</a>
                <a class="nav-item nav-link {% if request.get_full_path == announcement_url %} active {% endif %}"
                   href="{% url 'announcement_list' %}">Announcements</a>
                <a class="nav-item nav-link {% if request.get_full_path == about_url %} active {% endif %}"
                   href="{% url 'about' %}">About Us</a>
                <a class="nav-item nav-link {% if request.get_full_path == contact_url %} active {% endif %}"
                   href="{% url 'contact' %}">Contact</a>
            </div>
            <div class="pull-xs-right">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'account' %}">
                    {% if user.get_full_name %}
                    {{user.get_full_name }}
                    {% else %}
                    {{user}}
                    {% endif %}
                </a>
                <a class="btn btn-primary-outline" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary-outline" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!--SHOWS FOR MD-->
    <div class="hidden-lg-up">
        <!--<a class="navbar-brand hidden-sm-up text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
        <a href="{% url 'index' %}"><img style="height:3rem;" class="hidden-sm-up"
                                         src="{% static 'img/raise-logo.png' %}" alt="Raise PH"></a>
        <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar4"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar4">
            <a class="navbar-brand hidden-xs-down" href=" {% url 'index' %}"><img style="height:3rem;"
                                                                                  class="hidden-xs-down"
                                                                                  src="{% static 'img/raise-logo.png' %}"
                                                                                  alt="Raise PH"></a>
            <!--<a class="navbar-brand hidden-xs-down text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
            <div class="nav navbar-nav p-t-1">
                <!--<a class="nav-item nav-link  {% if request.get_full_path == index_url %} active {% endif %}" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link {% if request.get_full_path == index_url %} active {% endif %}"
                   href="{% url 'index'%}">Home</a>
                <a class="nav-item nav-link {% if request.get_full_path == project_url %} active {% endif %}"
                   href="{% url 'project-list'%}">Projects</a>
                <a class="nav-item nav-link {% if request.get_full_path == faq_url %} active {% endif %}"
                   href="{% url 'faq_list' %}">How It Works</a>
                <a class="nav-item nav-link {% if request.get_full_path == announcement_url %} active {% endif %}"
                   href="{% url 'announcement_list' %}">Announcements</a>
                <a class="nav-item nav-link {% if request.get_full_path == about_url %} active {% endif %}"
                   href="{% url 'about' %}">About Us</a>
                <a class="nav-item nav-link {% if request.get_full_path == contact_url %} active {% endif %}"
                   href="{% url 'contact' %}">Contact</a>
            </div>
            <div class="pull-xs-right">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'account' %}">
                    {% if user.get_full_name %}
                    {{user.get_full_name }}
                    {% else %}
                    {{user}}
                    {% endif %}
                </a>
                <a class="btn btn-primary-outline" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary-outline" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
<!--SHOWS FOR XS AND SM-->
<nav class="navbar navbar-light p-y-2 hidden-md-up">
    <div class="container">
        <!--<a class="navbar-brand hidden-sm-up text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
        <a href="{% url 'index' %}"><img style="height:3rem;" class="hidden-md-up"
                                         src="{% static 'img/raise-logo.png' %}" alt="Raise PH"></a>
        <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse"
                data-target="#exCollapsingNavbar2"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">

            <!--<a class="navbar-brand hidden-xs-down text-primary cb-logo" href="{% url 'index' %}">Raise PH</a>-->
            <div class="nav navbar-nav p-t-1">
                <!--<a class="nav-item nav-link  {% if request.get_full_path == index_url %} active {% endif %}" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>-->
                <a class="nav-item nav-link {% if request.get_full_path == index_url %} active {% endif %}"
                   href="{% url 'index'%}">Home</a>
                <a class="nav-item nav-link {% if request.get_full_path == project_url %} active {% endif %}"
                   href="{% url 'project-list'%}">Projects</a>
                <a class="nav-item nav-link {% if request.get_full_path == faq_url %} active {% endif %}"
                   href="{% url 'faq_list' %}">How It Works</a>
                <a class="nav-item nav-link {% if request.get_full_path == announcement_url %} active {% endif %}"
                   href="{% url 'announcement_list' %}">Announcements</a>
                <a class="nav-item nav-link {% if request.get_full_path == about_url %} active {% endif %}"
                   href="{% url 'about' %}">About Us</a>
                <a class="nav-item nav-link {% if request.get_full_path == contact_url %} active {% endif %}"
                   href="{% url 'contact' %}">Contact</a>
            </div>
            <div class="">
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href="{% url 'account' %}">
                    {% if user.get_full_name %}
                    {{user.get_full_name }}
                    {% else %}
                    {{user}}
                    {% endif %}
                </a>
                <a class="btn btn-primary-outline" href="{% url 'logout' %}">Logout</a>
                {% else %}
                <a class="btn btn-primary-outline" href="{% url 'login' %}">Log In</a>
                <a class="btn btn-primary" href="{% url 'register' %}">Sign Up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% endblock %}
<!-- Header -->
{% block header %}
<main class="cb-masthead " style="padding-top:8rem;">
    <div class="container">
        <img class="img-fluid center-block" style="width:15rem;" src="{% static 'img/qnf-logo2.png' %}" alt="Kapandesal Multipurpose COOPerative">
        <img class="img-fluid center-block" style="width:30rem;" src="{% static 'img/raise-logo.png' %}" alt="Raise PH">
        <!--<h1 class="display-1 text-primary cb-logo ">RAISE PH</h1>-->
        <h3 class=" m-b-2 slogan text-uppercase">Be a Kapandesal Cooperative Member to Uplift the Filipino people through low-capital investments</h3>
        <!--<a href="{% url 'register'%}" class="btn btn-primary-outline btn-lg"><strong class="text-uppercase">Sign Up Now</strong></a>-->

        {% if user.is_authenticated %}
        <a href="{% url 'project-list' %}" class="btn btn-primary-outline btn-lg"><strong class="text-uppercase">Browse Projects</strong></a>
        {% else %}
        <a href="{% url 'register'%}" class="btn btn-primary-outline btn-lg"><strong class="text-uppercase">Sign Up Now</strong></a>
        {% endif %}

    </div>
</main>
{% endblock %}

{% block content %}
<!-- Portfolio Grid Section -->
<section id="navbar-start-bg-change" class=" p-y-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-xs-center p-b-2">
                <h1 class="cb-section-title display-4">Featured Projects</h1>
            </div>
        </div>
        <div class="p-b-2 project-list hidden-lg-up">

            <div class="row">
                <div class="col-xs-12" style="display:inline-flex;">
                    {% if object_list %}
                        {% for project in object_list %}
                        <div class="m-x-1" style="width:25rem;">
                            {% include 'home/project_card_snippet.html'%}
                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="text-xs-center">
                        <h1>No projects at the moment</h1>
                        <p>Please come back later :)</p>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="p-b-2 hidden-md-down">
            {% if object_list %}
            {% include 'home/project_list_snippet.html' %}
            {% else %}
            <div class="text-xs-center">
                <h1>No projects at the moment</h1>
                <p>Please come back later :)</p>
            </div>
            {% endif %}
        </div>
        <div class="text-xs-center"><a href="{% url 'project-list' %}" class="page-scroll btn btn-primary btn-lg">Browse
            Projects</a>
        </div>
    </div>
</section>
<section class="bg-danger p-y-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center p-b-1">
                <h1 class="cb-section-title display-4">What Raise PH Offers You</h1>
                <h3 class="">Now, every Juan can participate in nation-building one investment at a time.</h3>
            </div>
        </div>
        <div class="row text-xs-center">
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Low Capital Requirements</h4>
                <p class="">For as low as Php 5,000 you can be a Kapandesal member and support socially relevant projects while earning dividends from these projects.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Hassle-free Investing</h4>
                <p class="">Just register on our platform, upload your bank deposit slip, and you're good to go. All that's left to do is sit back, relax, and watch your money grow.</p>
            </div>
            <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                <h4 class="service-heading">Social Impact</h4>
                <p class="">When you join Kapandesal Multipurpose Cooperative, you also help the nation. From low-cost housing, to schools, to small and medium enterprises. Together, we can uplift the lives of our countrymen. All thanks to you!</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->

<section>
    <div class="container m-y-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="cb-section-title display-4">Our Cooperative</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <img class="center-block img-fluid" src="{% static 'img/qnf-logo.png' %}"
                     alt="Kapandesal Logo">

                <p class="text-xs-center">
                    C7 The Grand Towers, 790 P. Ocampo Sr. St. <br>
                    Brgy. 719 Malate, Manila, Philippines <br>
                    Mobile: 0915-9409742 | 0939-29432718 <br>
                    Tel. / Fax: +632.230.4410
                </p>


            </div>
            <div class="col-xs-12 col-md-7 m-y-3">
                <img class="p-b-2 img-fluid" src="{% static 'img/helping-people.png' %}"
                     alt="Helping People Help Themselves">
                <!--<h2>Helping People Help Themselves</h2>-->
                <p>Committed and Passionate for your Life and your Family's Lives.</p>
                <p>We commit to bring Quick and Fast delivery of financial products and services, to promote
                    C.H.R.I.S.T. values in way of Life, Lifestyle, and Livelihood, and to ensure maximum benefits to
                    every member.</p>
                <p>Over 1000 members and growing!</p>
                <a class="btn btn-primary" target="_blank" href="http://www.kapandesalcoop.org/"><strong
                        class="text-uppercase">Visit Kapandesal Cooperative Site</strong></a>
            </div>
        </div>
    </div>
</section>

<section class="bg-danger p-y-1">
    <div class="container m-y-3">
        <div class="row">
            <div class="col-xs-12 text-xs-center">
                <h1 class="cb-section-title display-4">Our Project Partners</h1>
            </div>
        </div>
        <div class="row m-y-3">
            <div class="col-xs-8 col-xs-offset-2 col-md-2 col-md-offset-3">
                <img class="img-fluid center-block cb-logo-item" src="{% static 'img/citihub.jpg' %}"
                     alt="Kapandesal Logo">

            </div>
            <div class="col-xs-12 col-md-4 p-x-2">
                <h3>Citihub</h3>
                <p class=" text-justify">Citihub is an all-male dormitory inspired by capsule hotels which aims to
                    provide safe, clean and affordable housing for our kababayans.
                    It is their dream to help you save on your daily expenses so you can save for more important things
                    that matter.
                </p>
                <a target="_blank" href="http://www.citihub.com.ph/" class="btn btn-primary-outline" href="">Visit
                    Citihub Site</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block footer %}
<footer class="cb-footer bg-inverse">
    <div class="container p-y-2">
        <div class="row">
            <div class="col-xs-6">
                <!--<h2 class="m-b-0 cb-logo text-primary">Raise PH</h2>-->
                <img style="height:2rem;" class="" src="{% static 'img/raise-logo.png' %}" alt="Raise PH">
                <p>&copy; 2016 Raise PH</p>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12 text-xs-right">
                        <!--<a target="_blank"  href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>-->
                        <a target="_blank" href="https://www.facebook.com/raiseph"><i
                                class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>
                <!--<div class="row">-->
                    <!--<div class="col-xs-12 text-xs-right">-->
                        <!--<a href="#">Privacy Policy</a>-->
                        <!--<span> | </span>-->
                        <!--<a href="#">Terms of Use</a>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block script %}
<!-- jQuery -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/bootstrap-slider.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.1.0/css/bootstrap-slider.css">

<script src="{% static 'js/parallax.js' %}"></script>


<script>
$(function() {
    <!--$('.parallax-window').parallax({imageSrc: '{% static 'img/header-bg2.jpg' %}'});-->
});
</script>


{% include 'home/google_analytics_tracking_snippet.html' %}

{% endblock %}

</body>

</html>
