{% extends 'home/base.html' %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='Contact Us' %}
{% endblock %}

{% block content%}
<section class="contact-section p-y-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-xs-center">
                <h2 class="">Contact Us</h2>
                <h3 class="text-muted">We'd love to hear from you.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post" action="{% url 'contact' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12 text-xs-center">
                            <p class="help-block text-danger">{{ form.non_field_errors }}</p>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <ul class="text-danger">
                                    {% for error in form.name.errors %}
                                    <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                                {{ form.name }}
                                {% if form.name.help_text %}
                                <p class="help-block text-info">{{ form.name.help_text|safe }}</p>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <ul class="text-danger">
                                    {% for error in form.email.errors %}
                                    <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                                {{ form.email }}
                                {% if form.email.help_text %}
                                <p class="help-block text-info">{{ form.email.help_text|safe }}</p>
                                {% endif %}

                            </div>
                            <div class="form-group">
                                <ul class="text-danger">
                                    {% for error in form.phone_number.errors %}
                                    <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                                {{ form.phone_number }}
                                {% if form.phone_number.help_text %}
                                <p class="help-block text-info">{{ form.phone_number.help_text|safe }}</p>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <ul class="text-danger">
                                    {% for error in form.message.errors %}
                                    <li>{{error}}</li>
                                    {% endfor %}
                                </ul>
                                {{ form.message }}
                                {% if form.message.help_text %}
                                <p class="help-block text-info">{{ form.message.help_text|safe }}</p>
                                {% endif %}

                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-xs-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                            <input type="hidden" name="next" value="{{ next }}"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock%}