{% extends "home/contact.html" %}

{% block content %}

<div class="container">
    <div class="row">
            <div class="col-lg-12 text-xs-center m-y-3">
                <i class="fa fa-smile-o fa-5x text-primary" aria-hidden="true"></i>
                <h2 class="section-heading">Message Sent</h2>
                <h3 class="section-subheading">Thank you for the message, we'll get back to you soon!</h3>
            </div>
        </div>
    </div>

{% endblock %}
