

<div class="modal fade" id="deposit_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" id='deposit_upload_form' method="post" action="{% url 'deposit_file_upload' %}" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="change_password_label">Add Funds to Your Wallet</h2>
          </div>
          <div class="modal-body">
              <h4>Upload Deposit Slip</h4>


              <div class="p-b-2"><p>Step 1: <strong>Deposit</strong> your money to any of these bank accounts::
                  <!--<br> Bank: BDO (Banco De Oro)-->
                  <!--<br> Branch: Vito Cruz - Taft Ave.-->
                  <!--<br> Account Name: Kapandesal Multipurpose Cooperative-->
                  <!--<br> Account Number: 12345678901-->
                  <br>
                  <br>Bank: LANDBANK OF THE PHILIPPINES
                  <br>Branch: Main Office
                  <br>Account Name: KAPANDESAL MULTIPURPOSE COOPERATIVE
                  <br>Account Number: 003402-1045-02
                  <br>
                  <br>Bank: BANK OF THE PHILIPPINE ISLANDS
                  <br>Branch: Malate
                  <br>Account Name: KAPANDESAL MULTIPURPOSE COOPERATIVE
                  <br>Account Number: 0173-1839-84
                  <br>
                  <br>Bank: MAYBANK
                  <br>Branch: Malate
                  <br>Account Name: KAPANDESAL MULTIPURPOSE COOPERATIVE
                  <br>Account Number: 000-2500-4048
                  <br>
                  <br>Bank: BDO
                  <br>Branch: Harrison Plaza
                  <br>Account Name: KAPANDESAL MULTIPURPOSE COOPERATIVE
                  <br>Account Number: 000500377243
                  <br>
                  <br>Bank: METROBANK
                  <br>Branch: Ocean Tower
                  <br>Account Name: KAPANDESAL MULTIPURPOSE COOPERATIVE
                  <br>Account Number: 242-7-24251988-0
                  <br>

                  <br>More payment options soon!

              </p>
                  <p><strong>Do not Forget!:</strong>
                      <br><strong>For non-Kapandesal coop members, deposit additional 2,000 pesos on your first deposit for your membership fee.</strong></p>
              </div>

              <p class="p-b-0">Step 2: <strong>Scan</strong> or <strong>Take a picture of</strong> the deposit/remittance slip or receipt.
              </p>
              <p class="p-b-2">
                  ( For <strong>online fund transfer</strong>, you may instead <br>take a screenshot of your online transaction details. )
              </p>
              <p>Step 3: <strong>Upload</strong> the image.</p>
              {% csrf_token %}
              {{ deposit_form.non_field_errors }}
                {% for field in deposit_form.visible_fields  %}
                    <fieldset class="form-group">
                        {{ field.errors }}
                            {{ field }}
                        {% if field.help_text %}
                            <div class="pull-xs-right text-info">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
              {% for hidden in deposit_form.hidden_fields %}
                <div class="hidden-xs-up">
                    {{ hidden }}
                </div>

                {% endfor %}


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class='btn btn-primary' type="submit" value="Submit Deposit Slip/Receipt" />
              <input type="hidden" name="next" value="{{ next }}" />

          </div>
        </form>
    </div>
      {% include 'home/messages_snippet.html' %}
  </div>

</div>
