{% extends 'home/account.html' %}
{% load humanize %}
{% block account_content %}
{% load filename %}

 {% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th class="text-xs-right">Amount</th>
            <th>Confirmation</th>
             <th>Comment</th>
            <th class="">Deposit Slip Reference Number</th>

            <th class="text-xs-center">Deposit Slip</th>
            <th class="text-xs-center">Receipt</th>
        </tr>
    </thead>
        <tbody>
        {% for deposit in object_list %}
            <tr>
                <td>{{ deposit.datetime }}</td>
                <td class="text-xs-right">{% if deposit.amount != None %}₱ {{ deposit.amount|floatformat:2|intcomma }}
                    {% else %} Wait for confirmation{% endif %}</td>
                <td>
                    <span class="label {% if deposit.status == 'APPROVED' %} label-success {% elif deposit.status == 'PENDING'  %} label-warning {% else %} label-danger {% endif %}">{{deposit.get_status_display}}</span>
                </td>

                <td>{{deposit.comment}}</td>

                <td class="">{{deposit.deposit_reference_number}}</td>

                <td class="text-xs-center"><a class="btn btn-primary" href="{% if deposit.deposit_slip_image %}{% url 'file_serve' filename=deposit.deposit_slip_image.url|protected_filename_url %}{% endif %}">Deposit Slip</a></td>

                <td class="text-xs-center"><a class="btn btn-primary {% if not deposit.receipt_image %}disabled{% endif %}" href="{% if deposit.receipt_image %}{% url 'file_serve' filename=deposit.receipt_image.url|protected_filename_url %}{% endif %}">Receipt</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% else %}
<h2 class="m-y-2 text-xs-center">No Deposits</h2>
{% endif%}



{% endblock %}