{% extends 'home/base.html' %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='About The Developer' %}
{% endblock %}

{% block content %}
    {% with object as creator %}
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3 text-xs-center m-y-3 ">
                    <h1>{{ creator.name}}</h1>
                    <h2>{{ creator.location}}</h2>
                    <p>{{creator.description|safe|linebreaksbr}}</p>
                </div>
            </div>
            <div class="row">
                <h1 class="center-block m-b-3">Projects</h1>
                {% include 'home/project_list_snippet.html' with object_list=creator.projects.all %}
            </div>
        </div>
    {% endwith %}
{% endblock %}
