{% extends 'home/account.html' %}
{% load humanize %}
{% load filename %}
{% block account_content %}
{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th class="text-xs-right">Dividend Amount</th>
            <th>Project Name</th>
            <th>Investment Amount</th>
            <th>Dividend Yield %</th>
            <th class="text-xs-center">Receipt</th>
        </tr>
    </thead>
    <tbody>
    {% for dividend in object_list %}
        <tr>
            <td>{{ dividend.datetime }}</td>
            <td class="text-xs-right">{% if dividend.amount != None %}₱ {{ dividend.amount|floatformat:2|intcomma }}
                {% else %} Wait for confirmation{% endif %}</td>
            <td>{{dividend.investment.project.name}}</td>
            <td>{{ dividend.investment.amount|floatformat:2|intcomma }}</td>
            <td> {{ dividend.div_yield_in_percentage|floatformat:2 }}%</td>
            <td class="text-xs-center"><a class="btn btn-primary {% if not dividend.receipt_image %}disabled{% endif %}" href="{% if dividend.receipt_image %}{% url 'file_serve' filename=dividend.receipt_image.url|protected_filename_url %}{% endif %}">Receipt</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% else %}
<h2 class="m-y-2 text-xs-center">No Dividends</h2>
{% endif %}
{% endblock %}