{{ form.non_field_errors }}
{% for field in form %}
    <fieldset class="form-group">
        {{ field.errors }}
        <label class="form-label" for="{{field.id_for_label}}"> {{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
            <div class="right-align help-text">
                {{ field.help_text|safe }}
            </div>
        {% endif %}
    </fieldset>
{% endfor %}