{% extends 'home/account.html' %}
{% load humanize %}
{% load filename %}
{% block account_content %}
{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th class="text-xs-center">Project</th>
            <th class="text-xs-right">Investment Amount</th>
            <th class="text-xs-center">Investment Date</th>

            <th class="text-xs-center">Project Status</th>
            <th class="text-xs-right">Project Funded</th>
            <th class="text-xs-center">Share Capital Certificate</th>
        </tr>
    </thead>
        <tbody>
        {% for investment in object_list %}
            <tr>
                <td class="text-xs-center"><a class="btn btn-primary" href="{% url 'project-detail' pk=investment.project.id update=1 %}">{{investment.project.name|truncatechars:30}}</a></td>
                <td class="text-xs-right">₱ {{ investment.amount|floatformat:2|intcomma }}</td>
                <td class="text-xs-center">{{ investment.datetime }}</td>
                <td class="text-xs-center">{{ investment.project.status}}</td>
                <td class="text-xs-right">{{ investment.project.investment_raised_ratio|floatformat:2}}%</td>


                <td class="text-xs-center"><a class="btn btn-primary {% if not investment.share_capital_certificate %}disabled{% endif %}" href="{% if investment.share_capital_certificate %}{% url 'file_serve' filename=investment.share_capital_certificate.url|protected_filename_url %}{% endif %}">Share Capital Certificate</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<h2 class="m-y-2 text-xs-center">No Investments</h2>
{% endif %}
{% endblock %}