{% extends "home/base.html" %}

{% block header %}
{% include 'home/page_title_snippet.html'  with page_title='Log In' %}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'home/messages_snippet.html' %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 m-y-3">
            <div class="card text-xs-center">
                <div class="alert alert-error alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <p> You have been locked out of your account for 1 day due to {{failure_limit}} invalid attempts</p>
                  <p> Temporary lock out can be lifted by resetting your password. Click 'Forgot your password' below.</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <a class="text-info center-block" href="{% url 'register' %}">Not a member? Click here to
                        sign up</a><br>
                        <a class="text-info center-block" href="{% url 'reset_password' %}">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}