{% extends "home/base.html" %}

{% block header %}
{% include 'home/page_title_snippet.html'  with page_title='Log In' %}
{% endblock %}

{% block content %}
<div class="container">
    {% include 'home/messages_snippet.html' %}
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 m-y-3">
            <div class="card text-xs-center">
                <div class="card-block">
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                        <fieldset class="form-group">
                            {{ field.errors }}
                            <!--<label class="form-label" for="{{field.id_for_label}}"> {{ field.label }}</label>-->
                            {{ field }}
                            {% if field.help_text %}
                            <div class="">
                                {{ field.help_text|safe }}
                            </div>
                            {% endif %}
                        </fieldset>
                        {% endfor %}
                        <div>
                            <div class="row p-b-1">
                                <input class="btn btn-primary btn-lg center-block" type="submit" value="Log In"/>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a class="text-info center-block" href="{% url 'register' %}">Not a member? Click here to
                                    sign up</a><br>
                                    <a class="text-info center-block" href="{% url 'reset_password' %}">Forgot your password?</a>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}