{% if messages %}
<div class="row p-y-1">
    <div class="col-xs-12">
        {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p> {{message}}</p>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}