{% load staticfiles %}
<header class="cb-page-title parallax-window p-t-3">
    <div class="container  p-y-3">
        <div class="row">
            <h1 class="display-2 center-block">{{ page_title}}</h1>
        </div>
    </div>
</header>

