{% extends "home/password_change.html" %}
{% block account_content%}
<div class="card-content white-text">
        <h3 class="white-text">Password change successful</h3>
        <p class="white-text">Your password was changed.</p>
</div>
{% endblock%}