{% extends "home/account.html" %}
{% block account_content%}
<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}
    <div class="card-content white-text">
        <h3 class="white-text">Change password</h3>
        {% include "home/form_snippet.html" %}
    </div>
    <div class="card-action center">
        <input class='btn-large red accent-3 white-text center' type="submit" value="Change password" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>
{% endblock %}