
<div class="modal fade" id="change_password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form id='password_change_form' method="post" action="{% url 'password_change_ajax' %}">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="change_password_label">Change Password</h2>
          </div>
          <div class="modal-body">

            {% csrf_token %}
              {{ password_change_form.non_field_errors }}
                {% for field in password_change_form %}
                    <fieldset class="form-group">
                        {{ field.errors }}
                        <label class="form-label" for="{{field.id_for_label}}"> {{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="pull-xs-right text-info">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class='btn btn-primary' type="submit" value="Change password" />
              <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>
    </div>
      {% include 'home/messages_snippet.html' %}
  </div>

</div>
