{% extends 'home/account.html' %}
{% load humanize %}
{% block account_content %}
{% if object_list %}

<table class="table">
    <thead>
        <tr>
            <th class="text-xs-center">Project</th>
            <th class="text-xs-right">Pledge Amount</th>
            <th class="text-xs-center">Pledge Date</th>
        </tr>
    </thead>
        <tbody>
        {% for pledge in object_list %}
            <tr>
                <td class="text-xs-center"><a class="btn btn-primary" href="{% url 'project-detail' pk=pledge.project.id update=1 %}">{{pledge.project.name}}</a></td>
                <td class="text-xs-right">₱ {{ pledge.amount|floatformat:2|intcomma }}</td>
                <td class="text-xs-center">{{ pledge.datetime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
<h2 class="m-y-2 text-xs-center">No Pledges</h2>
{% endif %}
{% endblock %}