

<div class="modal fade" id="pledge_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        User Can Invest: {{user_can_invest}}
        Min: {{min}}
        Max: {{max}}
        Commission Percentage: {{commission_percentage}}
        <form id='pledge_form' method="post" action="{% url 'pledge' %}" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="change_password_label">Pledge</h2>
          </div>
          <div class="modal-body">
          {% csrf_token %}
              {{ pledge_form.non_field_errors }}
                {% for field in pledge_form.visible_fields  %}
                    <fieldset class="form-group">
                        {{ field.errors }}
                        <label class="form-label" for="{{field.id_for_label}}"> {{ field.label }}</label>
                            {{ field }}
                        {% if field.help_text %}
                            <div class="pull-xs-right text-info">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
              {% for hidden in pledge_form.hidden_fields %}
                <div class="hidden-xs-up">
                    {{ hidden }}
                </div>

                {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class='btn btn-primary' type="submit" value="Pledge" />
              <input type="hidden" name="next" value="{{ next }}" />

          </div>
        </form>
    </div>
      <div class="row p-y-1">
        <div class="col-xs-12">
            {% for m in messages %}
            <div class="alert alert-{{m.type}} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <p> {{m.message}}</p>
            </div>
        {% endfor %}
        </div>
    </div>
  </div>

</div>

