{% extends 'home/base.html' %}
{% load extras %}
{% block header %}
{% include 'home/page_title_snippet.html'  with page_title='Pledge' %}
{% endblock %}

{% block content%}
{% load humanize %}
<div class="container">
    <div class="row p-y-2">
        <!--Pledge Form-->

        <div class="col-xs-12 col-md-8">
            <h1 class="p-y-1">Enter your pledge amount</h1>
            <div class="card">
                <div class="card-block">
                    <form method="post" action="{% url 'pledge' pk=project_id %}">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        <fieldset class="form-group">

                            <label class="form-label" for="{{form.amount.id_for_label}}">
                                {{ form.amount.label}}
                            </label>
                            <br>
                            <div class="p-y-1">
                                {{ form.slider.errors }}
                                <strong class="p-x-1">Min:₱ {{ min|floatformat:0|intcomma }} </strong>

                                {{ form.slider }}
                                <strong class="p-x-1">Max:₱ {{ max|floatformat:0|intcomma }} </strong>
                            </div>
                            {{ form.amount.errors }}
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">₱</span>
                                {{ form.amount }}
                            </div>
                            {% if form.amount.help_text %}
                            <div class="right-align help-text">
                                {{ form.amount.help_text|safe }}
                            </div>
                            {% endif %}
                        </fieldset>


                        <div class="p-x-3">
                            <table class="table ">
                                <tr>
                                    <td>Pledge Amount</td>
                                    <td class="text-xs-right">
                                        ₱ <span id="total-pledge-amount"></span>
                                    </td>
                                </tr>
                                <tr></tr>
                                <!--<tr>-->
                                    <!--<td>-->
                                        <!--Platform Service Fee ({{commission_percentage|percentage }})-->
                                    <!--</td>-->
                                    <!--<td class="text-xs-right">-->
                                        <!--₱ <span id="platform-service-fee"></span>-->
                                    <!--</td>-->

                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Total Order</td>-->
                                    <!--<td class="text-xs-right">-->
                                        <!--<strong>-->
                                            <!--₱ <span id="total-order"></span>-->
                                        <!--</strong>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>Input Password:</td>
                                    <td class="text-xs-right">
                                        <strong>
                                            <span>{{form.password}}</span>
                                        </strong>
                                    </td>
                                </tr>
                                {{ form.password.errors }}
                            </table>
                        </div>


                        <input class='btn btn-primary btn-lg center-block' type="submit" value="Pledge"/>
                    </form>
                </div>
            </div>
        </div>
        <!--FAQS-->
        <div class="col-xs-12 col-md-4">
            <div class="p-y-3">
                <h4>Frequently Asked Questions</h4>
                <div class="m-y-2">
                    <div class="m-b-1">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
                           aria-controls="collapseOne">
                            <strong>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> What is the minimum and maximum amount of invest?
                            </strong>
                        </a>
                        <div id="collapseOne" class="collapse">
                            <p>The minimum amount to invest is 50,000 pesos.</p>
                            <p>The maximum amount of invest is 10% of the total project cost.</p>
                        </div>
                    </div>
                    <div class="m-b-1">
                        <a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
                           aria-controls="collapseTwo">
                            <strong>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> How do I pledge?
                            </strong>
                        </a>

                        <div id="collapseTwo" class="collapse">
                            Add funds to your wallet, Enter your pledge amount, password, and click the Pledge button.
                        </div>
                    </div>
                    <div class="m-b-1">
                        <a data-toggle="collapse" href="#collapseThree" aria-expanded="false"
                           aria-controls="collapseThree">
                            <strong>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> What if I want to invest
                                in a project that is already fully funded?
                            </strong>
                        </a>
                        <div id="collapseThree" class="collapse">
                            <p>You can no longer invest in a project that is already fully funded. You can choose other projects instead. </p>
                        </div>
                    </div>
                    <div class="m-b-1">
                        <a data-toggle="collapse" href="#collapseFour" aria-expanded="false"
                           aria-controls="collapseFour">
                            <strong>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> What if I want to refund my pledge?
                            </strong>
                        </a>
                        <div id="collapseFour" class="collapse">
                            <p>Only pledges before a project is fully funded can be refunded. </p>
                            <p>You may request assistance through our <a href="{% url 'contact' %}"><u>Contact Us </u></a> page. </p>
                            <p>Note that a service fee of 50 pesos will be deducted from your wallet for each refund transaction. </p>
                        </div>
                    </div>
                    <div class="m-b-1">
                        <a data-toggle="collapse" href="#collapseFive" aria-expanded="false"
                           aria-controls="collapseFive">
                            <strong>
                                <i class="fa fa-caret-down" aria-hidden="true"></i> What happens if a project is not fully funded?
                            </strong>
                        </a>
                        <div id="collapseFive" class="collapse ">
                            Your pledges will be refunded back to your wallet.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock%}

{% block script %}
{{ block.super }}
<script>
function ReplaceNumberWithCommas(yourNumber) {
    //Seperates the components of the number
    var n= yourNumber.toString().split(".");
    //Comma-fies the first part
    n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //Combines the two sections
    return n.join(".");
}

$(function() {
    $('#id_slider').slider({
	    formatter: function(value) {
		    return 'Current value: ' + value;
	    },
	    min : {{ min }},
	    max : {{ max }},
	    step : 1000
    });
    $("#id_slider").on("slide", function(slideEvt) {
	    $("#id_amount").val(slideEvt.value);
	    $("#total-pledge-amount").text(ReplaceNumberWithCommas(slideEvt.value));
	    $("#platform-service-fee").text(ReplaceNumberWithCommas((slideEvt.value * ({{commission_percentage}}))));
	    $("#total-order").text(ReplaceNumberWithCommas(slideEvt.value + (slideEvt.value * ({{commission_percentage}}))));
    });
    $("#id_amount").on("change", function(e) {
	    $("#id_slider").slider( "setValue",parseInt($("#id_amount").get(0).value),true);
    });
    $("#id_amount").attr("step",1000);
    $("#id_amount").addClass("form-control");
    $("#id_amount").val({{ min }});
    $("#id_amount").trigger("change");
});





</script>
<style>
    .slider-selection {
    background: #5cb85c;
    }
</style>
{% endblock %}

{% block static%}
{{block.super}}


{% endblock %}