 <div class="card">
        <a href="{% url 'project-detail' pk=project.id update=1 %}">
            <div class="project-card-img">
                <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.name }}">
            </div>
        </a>
        <div class="card-block">

            <div class="project-card-description">
                <a href="{% url 'project-detail' pk=project.id update=1 %}"><h4 class="font-weight-bold text-truncate">{{ project.name }}  </h4></a>
                <a href="{% url 'developer-detail' pk=project.developer.id %}"><p class="text-truncate"> {{ project.developer }}</p></a>
                <p class="text-xs text-justify"> {{project.description|safe|linebreaksbr }}</p>
            </div>
            <div class="project-card-footer">
                <p class="text-muted project-location text-truncate ">
                    <i class="fa fa-map-marker" aria-hidden="true"></i> {{ project.location }}
                </p>

                <progress class="m-y-0 progress progress-success" value="{{ project.investment_raised }}" max="{{ project.funding_goal }}">{{ project.investment_raised_ratio }}%</progress>
                <p class="label label-info center-block ">
                    Status: {{project.status}}
                </p>
                <ul class="project-card-stats m-a-0 p-a-0">
                    {% load humanize %}
                    {% if project.investment_raised_ratio < 100 %}
                    <li>
                        <p class="m-b-0 font-weight-bold">{{ project.investment_raised_ratio|floatformat:2}}%</p>
                        <p class="m-b-0">funded</p>
                    </li>

                    <li>
                        <p class="m-b-0 font-weight-bold">₱ {{ project.investment_raised|floatformat:2|intcomma }}</p>
                        <p class="m-b-0">raised</p>
                    </li>
                    <li>
                        <p class="m-b-0 font-weight-bold">₱ {{project.funding_goal|floatformat:2|intcomma }}</p>
                        <p class="m-b-0">funding goal</p>
                    </li>
                    {% else %}
                    <li>
                        <p class="m-b-0 font-weight-bold">₱ {{project.funding_goal|floatformat:2|intcomma }}</p>
                        <p class="m-b-0">Successfully Funded</p>
                    </li>
                    {% endif%}
                </ul>
            </div>

        </div>
    </div>