{% extends 'home/base.html' %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='Projects' %}
{% endblock %}

{% block content%}
    <div class="bg-faded p-y-2">
    <div class="container">{% include 'home/project_list_snippet.html'%}</div>
    </div>
{% endblock%}