{% extends 'home/base.html' %}
{% load embed_video_tags %}

{% block header %}
    {% include 'home/page_title_snippet.html'  with page_title='Project Update' %}
{% endblock %}

{% block content%}

<div class="container project-list">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                {{project_update.title}}
                For Project: {{project_update.project.name}}
                {{project_update.content}}
                {% for image in project_update.images.all %}
                    <img src="{{image.image.url}}">
                {% endfor %}
                {{project_update.youtube_link}}
               {% video project_update.video '800x600' %}
            </div>
        </div>
    </div>
</div>
{% endblock%}