 <div class="row">
    <!--<div class="col-xs-12">-->
        <!--<div class="card-columns">-->
     {% if object_list %}
            {% for project in object_list %}
                <div class="col-xs-12 col-md-6 col-lg-4" style="overflow:hidden;">
                    {% include 'home/project_card_snippet.html'%}
                </div>
            {% endfor %}
    {% else %}
    <div class="center-block">
        <h1 class="text-xs-center">No projects at the moment</h1>
        <p class="text-xs-center">Please come back later :)</p>
    </div>
    {% endif %}
        <!--</div>-->
    <!--</div>-->
</div>