{% extends 'home/base.html' %}
{% load humanize %}


{% block header %}
{% include 'home/page_title_snippet.html'  with page_title='Project Details' %}
{% endblock %}

{% block content%}



{% with object as project %}

<div class="container m-y-2">
    {% include 'home/messages_snippet.html' %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="card">
                <div class="project-card-img">
                    <img class="card-img-top" src="{{ project.image.url }}" alt="{{ project.name }}">
                </div>
                <div class="card-block">

                    <div class="">
                        <h4 class="font-weight-bold">{{ project.name }} </h4>
                        <a href="{% url 'developer-detail' pk=project.developer.id %}">
                            <p> {{ project.developer }}</p>
                        </a>
                    <progress class="progress progress-success" value="{{ project.investment_raised }}" max="{{ project.funding_goal }}">{{ project.investment_raised_ratio }}%</progress>

                        <p><strong>{{ project.investment_raised_ratio|floatformat:2}}%</strong> raised from <strong class="text-emphasis">₱ {{project.funding_goal|floatformat:3|intcomma }}</strong> goal
                    </p>
                    <p> Estimated annual returns: <strong class="text-emphasis">{{ project.estimated_profit_share }}</strong> </p>
                    <br>
                    </div>
                </div>
            </div>
            {% if project.status == 'Open for Funding' and project.is_past_funding_deadline == False %}
            <a class="btn btn-primary btn-lg btn-block" href="{% url 'pledge' pk=project.id %}"><span
                    class="h2">Invest Now</span></a>
            {% elif project.is_past_funding_deadline != False %}
            <a class="btn btn-primary disabled btn-lg btn-block" href=""><p
                    class="m-y-0">Funding Period has Ended</p></a>
            {% else %}
                <!--<h4>Status: {{project.status}}</h4>-->
            <a class="btn btn-primary disabled btn-lg btn-block" href=""><p
                    class="m-y-0">Status: {{project.status}}</p></a>

            {% endif %}
        </div>


        <div class="col-xs-12 col-sm-8">

             <div class="card">
                <iframe width="100%" height="100%" frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyB37dr4sPA3E7XXql74kqmvAQ7tWE45LMM
                        &center={{project.location_google_x}},{{project.location_google_y}}&zoom=18&maptype=satellite"
                        allowfullscreen></iframe>
                <!--src="https://www.google.com/maps/embed/v1/place?q=citihub%20mandaluyong&key=AIzaSyB37dr4sPA3E7XXql74kqmvAQ7tWE45LMM" -->
            </div>

            <div class="card">
                <div class="card-block">
                    <div class="card-title">
                        <h2>Details</h2>
                    </div>


                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link {% if project.status != 'Fully Funded' and project.status != 'Constructed' and updates.number  == 1 %}active {% endif %}" data-toggle="tab"  href="#description" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if project.status == 'Fully Funded' or project.status == 'Constructed' or updates.number  > 1 %} active{% endif %}" data-toggle="tab" href="#updates" role="tab">Updates</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane p-y-3 {% if project.status != 'Fully Funded' and project.status != 'Constructed' and updates.number  == 1 %} active{% endif %}" id="description" role="tabpanel">
                            <h3>Description</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <strong>{{ project.location }}</strong>
                                <p><strong>Funding Date Start: {{project.date_created }}</strong></p>
                                <p><strong>Funding Date End: {{project.date_end }}</strong></p>
                                <p class="text-justify"> {{project.description|safe|linebreaksbr }}</p>
                            </p>
                        </div>
                        <div class="tab-pane p-y-3 {% if project.status == 'Fully Funded' or project.status == 'Constructed' or updates.number  > 1 %}active {% endif %}" id="updates" role="tabpanel">
                            {% if updates %}
                            {% for update in updates %}
                            <div class="m-y-1">
                                <h3><strong> {{update.datetime }}</strong></h3>
                                <h3 class="font-italic">{{ update.title }} </h3>

                                {% if update.video %}
                                <div class="embed-container">
                                    <iframe src="{{update.video}}" frameborder="0" allowfullscreen></iframe>
                                </div>
                                {% endif %}


                                {% if update.images.all %}
                                <h4 class="text-xs-center m-y-1">Images</h4>

                                <div id="carousel-{{update.id}}" class="carousel slide m-y-2">
                                    <ol class="carousel-indicators">
                                        {% for image in update.images.all %}
                                            <li data-target="#carousel-{{update.id}}" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active {% endif %}"></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                    {% for image in update.images.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <img class="center-block" style="height:30rem;" src="{{image.image.url}}">
                                        </div>
                                    {% endfor %}
                                    </div>
                                    <a class="left carousel-control" href="#carousel-{{update.id}}" role="button" data-slide="prev">
                                        <span class="icon-prev" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-{{update.id}}" role="button" data-slide="next">
                                        <span class="icon-next" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                {% endif %}



                                <p class="text-justify"> {{update.content|safe|linebreaksbr }}</p>
                            </div>

                            {% endfor %}

                            {% else %}
                                <h2 class="text-xs-center"> No Updates Yet</h2>
                            {% endif %}
                            <nav>
                                <ul class="pager">
                                    {% if updates.has_previous %}
                                    <li>
                                        <a href="{% url 'project-detail' pk=project.id update=updates.previous_page_number %}">Next </a>
                                    </li>
                                    {% else %}
                                    <li class="disabled"><a href="#">Next </a></li>
                                    {% endif %}


                                    {% if updates.has_next %}
                                    <li>
                                        <a href="{% url 'project-detail' pk=project.id update=updates.next_page_number  %}">Previous</a>
                                    </li>
                                    {% else %}
                                    <li class="disabled"><a href="#">Previous</a></li>
                                    {% endif %}

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
{% endwith %}
{% endblock%}


{% block script %}
{{ block.super }}


<!--<script type="text/javascript">-->
<!--function setPledgeFormModal(){-->
    <!--var frm = $('#pledge_form');-->
    <!--frm.submit(function () {-->
        <!--$('.modal-backdrop').remove();-->
        <!--$.ajax({-->
            <!--type: frm.attr('method'),-->
            <!--url: frm.attr('action'),-->
            <!--data: frm.serialize(),-->
            <!--success: function (data) {-->
                <!--$("#pledge_modal_container").html(data);-->
                <!--$('#pledge_modal').modal();-->
                <!--$('#pledge_modal').modal('show');-->
                <!--setPledgeFormModal();-->
            <!--},-->
            <!--error: function(data) {-->
                <!--$("#pledge_modal_container").html("Something went wrong!");-->
            <!--}-->
        <!--});-->
        <!--return false;-->
    <!--});-->
<!--}-->
<!--$(function() {-->
   <!--setPledgeFormModal();-->


<!--});-->


<!--</script>-->
{% endblock %}