{% extends 'home/base.html' %}
{% load extras %}
{% block header %}
{% include 'home/page_title_snippet.html'  with page_title='Invest' %}
{% endblock %}

{% block content%}
{% load humanize %}
<div class="container">
    <div class="row p-y-2">
        <!--Pledge Form-->

        <div class="col-xs-12 col-md-8">
            <h3>This investment product is only available for members with a minimum share capital of PHP 5,000</h3>
            <p>Kapandesal requires members to have PHP 5,000 share capital on top of the PHP 2,000 membership fee.</p>

            <h4>Options:</h4>
            <!--<div class="card card-block" >-->
              <!--<h4 class="card-title">1. Invest in Raise PH projects</h4>-->
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
              <!--<a href="{% url 'project-list'%}" class="btn btn-primary">Invest</a>-->
            <!--</div>-->

            <div class="card card-block" >
              <h4 class="card-title">Get Share Capital</h4>
              <p class="card-text">Purchase the required share capital of PHP 5,000 using your RaisePH wallet balance.</p>
              <a href="{% url 'project-detail' pk=4 update=1 %}" class="btn btn-primary">Purchase</a>
            </div>
            <br>
            <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR</h3>
            <br>
            <div class="card card-block" >
              <h4 class="card-title">Verify Existing Share Capital</h4>
              <p class="card-text">For Kapandesal members who are already share capital holders, please contact us for verification.</p>
              <a href="{% url 'contact'%}" class="btn btn-primary">Contact Us</a>
            </div>



        </div>
        <!--FAQS-->
        <!--<div class="col-xs-12 col-md-4">-->
            <!--<div class="p-y-3">-->
                <!--<h4>Frequently Asked Questions</h4>-->
                <!--<div class="m-y-2">-->
                    <!--<div class="m-b-1">-->
                        <!--<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"-->
                           <!--aria-controls="collapseOne">-->
                            <!--<strong>-->
                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i> What is the minimum and maximum amount of invest?-->
                            <!--</strong>-->
                        <!--</a>-->
                        <!--<div id="collapseOne" class="collapse">-->
                            <!--<p>The minimum amount to invest is 50,000 pesos.</p>-->
                            <!--<p>The maximum amount of invest is 10% of the total project cost.</p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="m-b-1">-->
                        <!--<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"-->
                           <!--aria-controls="collapseTwo">-->
                            <!--<strong>-->
                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i> How do I pledge?-->
                            <!--</strong>-->
                        <!--</a>-->

                        <!--<div id="collapseTwo" class="collapse">-->
                            <!--Add funds to your wallet, Enter your pledge amount, password, and click the Pledge button.-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="m-b-1">-->
                        <!--<a data-toggle="collapse" href="#collapseThree" aria-expanded="false"-->
                           <!--aria-controls="collapseThree">-->
                            <!--<strong>-->
                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i> What if I want to invest-->
                                <!--in a project that is already fully funded?-->
                            <!--</strong>-->
                        <!--</a>-->
                        <!--<div id="collapseThree" class="collapse">-->
                            <!--<p>You can no longer invest in a project that is already fully funded. You can choose other projects instead. </p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="m-b-1">-->
                        <!--<a data-toggle="collapse" href="#collapseFour" aria-expanded="false"-->
                           <!--aria-controls="collapseFour">-->
                            <!--<strong>-->
                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i> What if I want to refund my pledge?-->
                            <!--</strong>-->
                        <!--</a>-->
                        <!--<div id="collapseFour" class="collapse">-->
                            <!--<p>Only pledges before a project is fully funded can be refunded. </p>-->
                            <!--<p>You may request assistance through our <a href="{% url 'contact' %}"><u>Contact Us </u></a> page. </p>-->
                            <!--<p>Note that a service fee of 50 pesos will be deducted from your wallet for each refund transaction. </p>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="m-b-1">-->
                        <!--<a data-toggle="collapse" href="#collapseFive" aria-expanded="false"-->
                           <!--aria-controls="collapseFive">-->
                            <!--<strong>-->
                                <!--<i class="fa fa-caret-down" aria-hidden="true"></i> What happens if a project is not fully funded?-->
                            <!--</strong>-->
                        <!--</a>-->
                        <!--<div id="collapseFive" class="collapse ">-->
                            <!--It is possible that an external investor will cover the remaining investments. However, if there is none,-->
                            <!--your pledges will be refunded back to your wallet.-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>


{% endblock%}

{% block script %}
{{ block.super }}
<script>
function ReplaceNumberWithCommas(yourNumber) {
    //Seperates the components of the number
    var n= yourNumber.toString().split(".");
    //Comma-fies the first part
    n[0] = n[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    //Combines the two sections
    return n.join(".");
}

$(function() {
    $('#id_slider').slider({
	    formatter: function(value) {
		    return 'Current value: ' + value;
	    },
	    min : {{ min }},
	    max : {{ max }},
	    step : 1000
    });
    $("#id_slider").on("slide", function(slideEvt) {
	    $("#id_amount").val(slideEvt.value);
	    $("#total-pledge-amount").text(ReplaceNumberWithCommas(slideEvt.value));
	    $("#platform-service-fee").text(ReplaceNumberWithCommas((slideEvt.value * ({{commission_percentage}}))));
	    $("#total-order").text(ReplaceNumberWithCommas(slideEvt.value + (slideEvt.value * ({{commission_percentage}}))));
    });
    $("#id_amount").on("change", function(e) {
	    $("#id_slider").slider( "setValue",parseInt($("#id_amount").get(0).value),true);
    });
    $("#id_amount").attr("step",1000);
    $("#id_amount").addClass("form-control");
    $("#id_amount").val({{ min }});
    $("#id_amount").trigger("change");
});





</script>
<style>
    .slider-selection {
    background: #5cb85c;
    }
</style>
{% endblock %}

{% block static%}
{{block.super}}


{% endblock %}