{% extends 'home/account.html' %}
{% load humanize %}
{% load filename %}
{% block account_content %}
{% if object_list %}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th class="text-xs-right">Amount</th>
            <th>Status</th>
            <th class="">Withdrawal Reference Number</th>

            <th class="text-xs-center">Withdrawal Form</th>
            <th class="text-xs-center">Receipt</th>
        </tr>
    </thead>

    <tbody>
    {% for withdrawal in object_list %}
        <tr>
            <td>{{ withdrawal.datetime }}</td>
            <td class="text-xs-right">{% if withdrawal.amount != None %}₱ {{ withdrawal.amount|floatformat:2|intcomma }}
                {% else %} Wait for confirmation{% endif %}</td>
            <td>
                <span class="label {% if withdrawal.status == 'APPROVED' %} label-success {% elif withdrawal.status == 'PENDING'  %} label-warning {% else %} label-danger {% endif %}">{{withdrawal.get_status_display}}</span>
            </td>

            <td class="">{{withdrawal.withdrawal_reference_number}}</td>

            <td class="text-xs-center"><a class="btn btn-primary" href="{% if withdrawal.withdrawal_form_file %}{% url 'file_serve' filename=withdrawal.withdrawal_form_file.url|protected_filename_url %}{% endif %}">Withdrawal Form</a></td>

            <td class="text-xs-center"><a class="btn btn-primary {% if not withdrawal.receipt_image %}disabled{% endif %}" href="{% if withdrawal.receipt_image %}{% url 'file_serve' filename=withdrawal.receipt_image.url|protected_filename_url %}{% endif %}">Receipt</a></td>
        </tr>
        {% endfor %}
    </tbody>


</table>
{% else %}
<h2 class="m-y-2 text-xs-center">No Withdrawals</h2>
{% endif %}
{% endblock %}