

<div class="modal fade" id="withdrawal_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form enctype="multipart/form-data" id='withdrawal_request_form' method="post" action="{% url 'withdrawal_file_upload' %}" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title" id="change_password_label">Withdrawal Request</h2>
          </div>
          <div class="modal-body">
              <h4>Withdrawal Request Form</h4>
              
              
              <div class="p-b-2"><p>Step 1: <strong>Download</strong> the Withdrawal Request Form.</p>

              <a class="btn btn-info" href="{{ MEDIA_URL }}public/withdrawal_form.pdf" download="withdrawal_form.pdf">Download Withdrawal Request Form</a></div>

              <p class="p-b-2">Step 2: <strong>Print, Fill Up, Sign</strong> and <strong>Scan</strong> the withdrawal form.
                  <br> <small>As an alternative you may digitally fill up and sign the withdrawal form instead.</small>
              </p>


              <p>Step 3: <strong>Upload</strong> your withdrawal form.</p>
              {% csrf_token %}
              {{ withdrawal_form.non_field_errors }}
                {% for field in withdrawal_form.visible_fields  %}
                    <fieldset class="form-group">
                        {{ field.errors }}
                            {{ field }}
                        {% if field.help_text %}
                            <div class="pull-xs-right text-info">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </fieldset>
                {% endfor %}
              {% for hidden in withdrawal_form.hidden_fields %}
                <div class="hidden-xs-up">
                    {{ hidden }}
                </div>

                {% endfor %}


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input class='btn btn-primary' type="submit" value="Submit Withdrawal Request Form" />
              <input type="hidden" name="next" value="{{ next }}" />

          </div>
        </form>
    </div>
      {% include 'home/messages_snippet.html' %}
  </div>

</div>
