

.cb-logo {
    font-family: 'Poiret One', $font-family-sans-serif;
}

.cb-page-title {
    font-family: 'Poiret One', $font-family-sans-serif;
    background-image: url(../img/header-bg2.jpg);
    background-size:100%;
    background-position-y:30%;
    color: #fff;
}

.cb-masthead {
    padding-top:15rem;
    padding-bottom:15rem;
    text-align:center;
    color:#fff;
    background-image: url(../img/header-bg2.jpg);
    background-size:cover;
    background-position-y:20%;
    background-repeat:no-repeat;
}

.slogan {
    font-family: 'Montserrat', $font-family-sans-serif;
}
.cb-logo-item {
    width:100%;
    height:100%;
}

.cb-section-title {
    font-family: 'Poiret One', $font-family-sans-serif;
}

.project-list {
    overflow:scroll;
}

.cb-footer {
    a {
        color:$gray-lightest;
    }
}

.project-card-img {
    height:12rem;
    max-height:12rem;
    overflow:hidden;
    img {
        max-width:100%;
        //max-height:100%;
        vertical-align: middle;
        object-fit: contain;
    }

}
.project-card-description {
    height: 12rem;
    max-height:12rem;
    overflow:hidden;
}

.project-card-footer {
    max-height:12rem;
    overflow:hidden;
}

.project-card-stats {
    display: inline-flex;
    list-style: none;

    li {
        margin-right: 10px;
    }
}

.text-xs {
    font-size: $font-size-xs;
}

$bg-transparent:rgba(0,0,0,0);
$bg-primary-dark:#FBC02D;

@include bg-variant('.bg-transparent', $bg-transparent);
@include bg-variant('.bg-primary-dark', $bg-primary-dark);


@include text-emphasis-variant('.text-gray-dark', $gray-dark);

.navbar-float-top {
    position:absolute;
    right: 0;
    left: 0;
    z-index: $zindex-navbar-fixed;
    top:0;
}


.errorlist {
    color:$brand-danger;
}

.navbar-brand {
    font-size: 2rem;
}

@mixin button-outline-variant($color) {
  color: $color;
  background-image: none;
  background-color: transparent;
  border-color: $color;

  &:focus,
  &.focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: #fff;
    background-color: $color;
        border-color: $color;
  }
  @include hover {
    color: $gray-dark;
    background-color: $color;
        border-color: $color;
  }

  &.disabled,
  &:disabled {
    &:focus,
    &.focus {
      border-color: lighten($color, 20%);
    }
    @include hover {
      border-color: lighten($color, 20%);
    }
  }
}


.btn-primary-outline {
  @include button-outline-variant($btn-primary-bg);
}

@include media-breakpoint-up(xs) {
  .card-columns-xs {
    column-count: 3;
    column-gap: 1.25rem;

    .card {
      display: inline-block;
      width: 100%; // Don't let them exceed the column width
    }
  }
}

@include media-breakpoint-up(xs) {
  .card-columns {
    column-count: 1;
    column-gap: 1.25rem;

    .card {
      display: inline-block;
      width: 100%; // Don't let them exceed the column width
    }
  }
}

@include media-breakpoint-up(md) {
  .card-columns {
    column-count: 2;
    column-gap: 1.25rem;

    .card {
      display: inline-block;
      width: 100%; // Don't let them exceed the column width
    }
  }
}

@include media-breakpoint-up(lg) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;

    .card {
      display: inline-block;
      width: 100%; // Don't let them exceed the column width
    }
  }
}

@include media-breakpoint-down(xs) {
    .navbar-nav .nav-item {
        float: none;
    }

}


.text-truncate {
    flex: 0 0 auto;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    height: 0;
    overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

